<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{> page/title}}</a>
    </div>
    {{> page/nav}}
  </div>
</nav>

<div class="container">
	<div class="row main" id="register">
		<div class="panel-heading">
      <div class="panel-title text-center">
     		<h1 class="title">Register Here...</h1>
     		<hr />
     	</div>
    </div> 
	</div>
</div>
<script src="/js/register.js"></script>